@mixin pc {
  @media screen and (min-width: 981px){
    @content
  }
};

@mixin tab {
  @media screen and (max-width: 980px){
    @content
  }
};

@mixin sp {
  @media screen and (max-width: 599px){
    @content
  }
};

html, body {
  min-height: 100vh; // footerを最下部に
  background-color: #F8F8F8;
}

main {
  background-color: #FAFAFA;
  padding: 30px 0;
}

.hover {
  transition: color 0.3s 0s ease-in-out;
  &:hover {
    color: #1056B3;
  }
}