*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherit;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.hover {
  transition: color 0.3s 0s ease-in-out;
}

.hover:hover {
  color: #1056B3;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.header_inner {
  width: 92%;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_inner h1 {
  padding-top: 6px;
}

.header_inner nav {
  width: 25%;
  min-width: 100px;
}

.header_inner nav ul {
  display: flex;
  justify-content: center;
}

.header_inner nav ul .post_btn a {
  padding: 10px 13px;
  font-size: 10px;
  background-color: #027BFF;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.header_inner nav ul .profile_btn i {
  font-size: 1.5em;
}

main {
  background-color: #FAFAFA;
  padding-top: 30px;
}

.post_wrapper {
  width: 40%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.post_wrapper img {
  width: 100%;
}

.post_top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #F8F8F8;
}

.post_top .left {
  display: flex;
  align-items: center;
}

.post_top .left img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_top .left p {
  font-size: 12px;
}

.post_top a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_bottom_wrapper {
  padding: 15px 15px 0;
  background-color: #fff;
}

.post_bottom_wrapper .inner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icons {
  font-size: 23px;
  padding-bottom: 5px;
}

.icons .comment {
  display: inline-block;
  transform: scaleX(-1);
}

.post_bottom {
  font-size: 10px;
}

.post_bottom span {
  font-weight: bold;
  margin-right: 3px;
}

.post_bottom p {
  margin-bottom: 3px;
}

.post_bottom .date {
  padding: 10px 0;
  font-size: 7px;
  -moz-columns: #999;
       columns: #999;
}

form {
  padding: 10px 0;
  background-color: #fff;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
}

